@{
    ViewData["Title"] = "| Home";
}

<div class="index-content">
    <img src="~/corgo.png" />
    <h1>Welcome to Pooch</h1>
    <form>
        <input type="text" name="username" placeholder="Username" /><br />
        <input type="text" name="password" placeholder="Password" /><br />
        <input type="submit" value="Login" />
    </form>
</div>