<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pooch @ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/corgo.ico" />

    <link rel="stylesheet" type="text/css" href="~/css/layout.css">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cairo&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="nav">
            <img src="~/corgo.png" />
            <h3>Pooch</h3>
            <p>About</p>
        </div>

        <partial name="_CookieConsentPartial" />

        <div class="content">
            @RenderBody()
            <h1>Pooch</h1>
            @*<hr />
            <footer>
                <p>&copy; 2019 - pooch</p>
            </footer>*@
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>
