<!DOCTYPE html>

<html>
    <head>
        <title>Pooch</title>
        <link rel="icon" type="image/png" href="http://{{ .IP }}:{{ .Port }}/public/img/corgo.png"/>
        <link rel="stylesheet" type="text/css" href="http://{{ .IP }}:{{ .Port }}/public/css/rooms.css"/>

        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    </head>

    <body>
        <div id="header">
            <img src="http://{{ .IP }}:{{ .Port }}/public/img/corgo.png" alt="pooch" style="width:150px;height:120px;">

            <div id="heading">
                <h1>Pooch Admin</h1>
                <h3>Rooms View</h3>
            </div>

            <div id="accop">
                Welcome {{ .UserData.Fname }} {{ .UserData.Lname }}!<br>
                <form action="/admin" method="post">
                    <button type="submit">Admin</button>
                </form>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>

        <div id="content">
            {{ range $index, $data := .BdngData }}
            <h3>{{ $data.Name }}</h3>
                <div id="tableholder">
                    <table id="{{ $data.Name }}" class="display">
                        <thead>
                            <th>Room</th>
                            <th>Status</th>
                            <th>Group</th>
                            <th>Lamp Hours</th>
                            <th>Problems</th>
                            <th>Notes</th>
                            <th>Reset</th>
                            <th>Last Checked<th>
                        </thead>

                        <tbody>
                            {{ range $num, $info := $data.Rooms }}
                            <tr>
                                    <td align="center">{{ $data.Abrv }}{{ $num }}</td>
                                    <td align="center">{{ $info.Status }}</td>
                                    <td align="center">{{ $info.Group }}</td>
                                    <td align="center">Standard: {{ $info.Lamph.Standard }}<br>Interactive: {{ $info.Lamph.Interactive }}</td>
                                    <td align="left">
                                        {{ range $place, $val := $info.Probcat }}
                                            {{ $val }},
                                        {{ end }}
                                    </td>
                                    <td align="left">{{ $info.Notes }}</td>
                                    <td align="center">
                                        <form action="/admin/resetindroom" action="post">
                                            <input type="hidden" name="hiddenreset" value="{{ $data.Name }}.{{ $num }}">
                                            <input type="submit" value="Reset"></input>
                                        </form>
                                    </td>
                                    <td align="center">{{ $info.Last }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            {{ end }}

            <form id="exportcsv" action="/admin/exportcsv" method="post">
                <input type="submit" value="Export CSV"></input>
            </form>

            <form id="resetallrooms" action="/admin/resetrooms" method="post">
                <input type="submit" value="Reset All Rooms"></input>
            </form>
        </div>

        <div id="problist">
            <h3>Problem Categories</h3>
            <div id="problistformat">
                <h5>01 - Restart computer<br></h5>
                <h5>02 - Check presenter's clicker<br></h5>
                <h5>03 - Press power on touch panel<br></h5>
                <h5>04 - Select computer as source<br></h5>
                <h5>05 - Make sure the projector turned on (and record lamp hours)<br></h5>
                <h5>06 - Visually inspect connections to projector<br></h5>
                <h5>07 - Test computer audio (is it loud enough)<br></h5>
                <h5>08 - Test volume on the control panel<br></h5>
                <h5>09 - Test internet connection of desktop<br></h5>
                <h5>10 - Test VGA audio and video<br></h5>
                <h5>11 - Select DVD player as source (test audio and video)<br></h5>
                <h5>12 - Test DVD controls on the touch panel (and check IR blaster)<br></h5>
                <h5>13 - Select Doc Cam as source (test bulbs, focus, and video output)<br></h5>
                <h5>14 - Check monitor arm for flexibility<br></h5>
                <h5>15 - Check the room and furniture for damage<br></h5>
                <h5>16 - Test the screen freeze (does it hold for more than 5 seconds)<br></h5>
                <h5>17 - Shut down the system<br></h5>
            </div>
        </div>

        <div id="footer">
            <p class="github"><a href="https://github.com/pinecat/pooch">Github</a></p>
            <p class="contact"><a href="mailto:dudleyr1@etown.edu">dudleyr1@etown.edu</a><br>Rory Dudley<br>pinecat</p>
            <p class ="copyright">Copyright &copy; Rory Dudley (aka pinecat)</p>
        </div>

        <script>
            {{ range $index, $data := .BdngData }}
                $(document).ready(function() {
                    $('#{{ $data.Name }}').DataTable();
                });
            {{ end }}
        </script>
    </body>

</html>
